.page-banner{
    text-align: center;
    background: url('../../public/images/page-title.jpg') no-repeat center/ cover;
}

.page-banner-content{
    padding: 100px 0px; 
}


/* progress section */

.progress-section{
    padding: 20px 0px;
}

.progress-section .progress-line-full{
    margin: 10px 0px;
    width: 100%;
    height: 5px;
    background-color: #b1b1b1;
    border-radius: 10px;
}

.progress-section .progress-line-full .progress-line{
    height: 100%;
    width: 70%;
    background-color:#3DAB25;
    position: relative;
}
.progress-section .progress-line-full .progress-line::after{
    content: '';
    position: absolute;
    top: 2px;
    right: 0;
    width: 15px;
    height: 15px;
    background-color:#3DAB25;
    border-radius: 50px;
    transform: translate(50%, -50%);
 
}

.order-item table{
    width: 100%;
}

.order-item table thead tr th{
    border-bottom: 1px solid #b1b1b1;
    padding: 10px 0px;
}

.order-item table tbody tr td{
    padding: 10px 0px;
}

.order-item table tbody tr td img{
    width: 100px;
}

.product-main {
    display: flex;
    align-items: center;
    gap: 10px;
}

.product-main .product-image img{
    width: 100px;
    height: auto;
    border-radius: 10px;
}

.product-main .product-name{
    font-size: 16px;
    color: var(--normalTextColor);
    font-weight: 400;
}
.product-main select{
    border: 2px solid #b1b1b1;
    font-size: 16px;
    font-weight: 600;
    color: var(--normalTextColor);
}
 span.current-price{
    font-weight: 600;
    color: var(--normalTextColor);
}

.quantity-selector {
    display: flex;
    width: 100px;
    border: 2px solid rgb(237, 237, 237);
    border-radius: 50px;
    overflow: hidden;
    height: 40px;
  }
  
.qty-btn {
    border: none;
    width: 70px;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
  }
  
  .qty-btn.minus {
    border-left: none;
  }
  
.qty-input {
    border: none;
    text-align: center;
    width: 30px;
    font-size: 16px;
    outline: none;
  }
  .product-total span.total-price{
    font-weight: 600;
    color: var(--normalTextColor);
  }


  .apply-coupon{
    padding: 0px 0px;
    position: relative;
  }
  .apply-coupon input{
    padding: 10px 10px;
    width: 100%;
    border: 1px solid #b1b1b1;
    border-radius: 10px;

  }
  .apply-coupon input:focus{
    outline: none;
    
  }

  .apply-coupon button.code{
    border: none;
    padding: 6px 30px;
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: black;
    font-size: 16px;
    font-weight: 600;
    color: white;
    border-radius: 50px;
  }


  .coupon-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    gap: 20px;
    align-content: start;
  }
  .coupon-inner{
    border: 1px solid #b1b1b1;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0px;
    font-size: 14px;
    position: relative;
    
  }

  .coupon-inner.active{
   border: 1px solid #E43131;
   background-color:#e4313108;
    
  }
  .coupon-inner.active .coupon-code{
   border-top: 2px dashed #E43131;
    
  }

  .coupon-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }


  .coupon-code{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px dashed #b1b1b1;

  }

  .apply-btn button.apply{
    border: none;
    border-radius: 30px;
    padding: 3px 10px;
    background-color: black;
    font-size: 12px;
    font-weight: 600;
    color: white;
  }

  .coupon-inner:hover{
    border: 1px solid #E43131;
    background-color: #e4313108;
     
   }
   .coupon-inner:hover .coupon-code{
    border-top: 2px dashed #E43131;
     
   }



   /* order summary */

.order-summary{
  padding: 40px 40px;
}
.order-summary span.summary-title{
  padding: 0px 0px;
  font-size: 30px;
  font-weight: 600;
  display: block;
}

.subtotal{
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
  border-bottom: 1px solid #dcdcdc;
  font-weight: 600;
  font-size: 16px;
}

h4.sub-text{
  font-size: 16px;
  font-weight: 600;
}

.discounts{
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
  border-bottom: 1px solid #dcdcdc;
  font-weight: 600;
  font-size: 16px;
}

h4.discount-text{
  font-size: 16px;
  font-weight: 600;
}


.shipping{
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
  border-bottom: 1px solid #dcdcdc;
  font-weight: 600;
  font-size: 16px;
}

.shipping h4.shipping-text{
  font-size: 16px;
  font-weight: 600;
}
.flex-grow-1{
  flex-grow: 1 !important;
}
.shipping fieldset{
  display: flex;
  gap: 5px;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0px;

}
.shipping fieldset label{
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 400;
  gap: 20px;
  flex-grow: 1;
  align-items: center;
}

.total{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0px;
}

.total h4.total-text{
  font-size: 25px;
  font-weight: 600;
}

.total span.total-price{
  font-size: 25px;
  font-weight: 600;
}
.agree{
  display: flex;
  align-items: center;
  gap: 10px;
}
.agree input{
  width: 10px;
  height: 10px;
}
.agree label{
  font-size: 12px;
  font-weight: 400;
}

div.checkout-btn button{
  display: block;
  width: 100%;
  color: white;
  background-color: black;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 600;
  border: none;
}

a.or{
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  display: block;
  padding: 15px 0px;
  text-decoration: none;
  color: var(--normalTextColor);
}

