.breadcrumb {
  padding: 20px 0px 10px 0px;
}

.breadcrumb nav ol li a,
li {
  text-decoration: none;
  color: #000;
  font-size: 14px;
}

.breadcrumb nav ol li.active {
  text-decoration: underline;
}
.breadcrumb nav{
    box-shadow: none;
}
/* product description */

/* left column */
section.product {
  padding: 0px 0px 40px 0px;
}
.small-image-inner {
  display: flex;
  flex-direction: column;
}
.small-image-inner img {
  width: 100%;
  padding: 5px;
  border-radius: 10px;
}

.main-image {
  padding: 5px;
}

.main-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

/* right column */

.product-content {
  padding: 0px 30px;
}

.product-content div.cat-text {
  font-size: 14px;
  text-transform: uppercase;
  color: #999;
}

.product-content h3.product-name {
  font-size: 40px;
  color: var(--normalTextColor);
  padding: 5px 0px;
  margin: 0;
}

.product-content .product-sub {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0px;
}
.product-content .product-sub .review {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
}

.product-content .product-sub .review i {
  color: black;
  font-size: 18px;
}

.product-content .sale-ad {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
}
.product-content .sale-ad i {
  font-size: 20px;
  color: #f03e3e;
}

.price-tag {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px 0px 10px 0px;
}

.price-tag h5.current-price {
  font-size: 24px;
  color: var(--normalTextColor);
  margin: 0;
  font-weight: 600;
}
.price-tag .prev-price {
  text-decoration: line-through;
  font-size: 24px;
  color: rgb(153, 153, 153);
  font-size: 20px;
  font-weight: 600;
}

.price-tag .discount-percentage {
  background-color: #f03e3e;
  color: white;
  border-radius: 50px;
  padding: 0px 10px;
  font-size: 14px;
  font-weight: 300;
}

.product-content .product-desc {
  font-size: 16px;
  color: rgb(153, 153, 153);
  text-align: left;
}

.product-content .viewing {
  display: flex;
  gap: 5px;
  color: var(--normalTextColor);
  font-size: 14px;
  font-weight: 300;
}

.product-content .viewing .i {
  font-size: 18px;
}

.product-content hr {
  margin: 20px 0px;
}

.product-content .color-picker .color-title {
  font-size: 16px;
  font-weight: 600;
}

.product-content .color-picker .color-option {
  display: flex;
  gap: 10px;
  padding: 5px 0px;
}

.product-content .color-picker div.color-option-inner:nth-child(1n) {
  height: 30px;
  width: 30px;
  background-color: black;
  border-radius: 50px;
  border: 1px solid black;
}
.product-content .color-picker div.color-option-inner:nth-child(3n) {
  height: 30px;
  width: 30px;
  background-color: rgb(146, 146, 146);
  border-radius: 50px;
  border: 1px solid black;
}
.product-content .color-picker div.color-option-inner:nth-child(2n) {
  height: 30px;
  width: 30px;
  background-color: rgb(230, 230, 230);
  border-radius: 50px;
  border: 1px solid black;
}

.product-content .size-picker {
  padding: 20px 0px;
}
.product-content .size-picker .size-header {
  display: flex;
  justify-content: space-between;
}
.product-content .size-picker .size-header a {
  font-size: 14px;
  color: var(--normalTextColor);
  text-decoration: underline;
  font-weight: 600;
}

.product-content .size-picker .size-title {
  font-size: 16px;
  font-weight: 600;
}

.product-content .size-picker .size-option {
  display: flex;
  gap: 10px;
  padding: 5px 0px;
}

.product-content .size-picker div.size-option-inner {
  height: 50px;
  width: 50px;
  background-color: transparent;
  border-radius: 50px;
  border: 2px solid rgb(237, 237, 237);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  transition: 0.5s ease;
}

.product-content .size-picker div.size-option-inner:hover {
  background-color: black;
  border: none;
  color: white;
}

.product-content .quantity-title {
  font-size: 16px;
  font-weight: 600;
}
.product-content .quantity-selector {
  display: flex;
  width: 170px;
  border: 2px solid rgb(237, 237, 237);
  border-radius: 50px;
  overflow: hidden;
  height: 50px;
  margin-top: 10px;
}

.product-content .qty-btn {
  border: none;
  width: 70px;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.product-content .qty-btn.minus {
  border-left: none;
}

.product-content .qty-input {
  border: none;
  text-align: center;
  width: 50px;
  font-size: 16px;
  outline: none;
}

.product-content .add-to-cart {
  padding: 20px 0px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.product-content a.add-to-cart-btn {
  display: flex;
  flex-grow: 1;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 14px 15px;
  border-radius: 999px;
}

.product-content .card-icons {
  position: relative;
}

.product-content .add-to-cart i {
  font-size: 18px;
  color: black;
  padding: 15px;
  border: 2px solid rgb(237, 237, 237);
  border-radius: 999px;
}

.product-content .buy-now a {
  padding: 14px 15px;
  font-size: 16px;
  text-transform: uppercase;
  display: block;
  background-color: #f03e3e;
  color: white;
  text-decoration: none;
  font-weight: 600;
  border-radius: 999px;
  text-align: center;
}

.product-content .product-help-info {
  padding: 30px 0px;
}
.product-content .product-help-info .help-item-one {
  display: flex;
  align-items: center;
  gap: 30px;
}
.product-content .product-help-info a.help-item-one {
  text-decoration: none;
}

.product-content .product-help-info .help-item-one .help-individual {
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: var(--normalTextColor);
  font-size: 14px;
}

.product-content .product-help-info .help-item-one .help-individual i {
  font-size: 16px;
}
.product-content .product-help-info .help-item-one .help-individual p {
  text-decoration: none;
  margin: 0px;
  font-size: 14px;
}

.help-item {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px 0px;
}

div.help-item i {
  font-size: 18px;
}

.help-item-text p,
a {
  font-size: 14px;
  color: #434343;
}

.product-content .related-info ul li {
  font-size: 14px;
  color: var(--normalTextColor);
}

.product-content .related-info ul li span {
  color: #656565;
}

.product-content .product-payment{
    display: flex;
    align-items: center;
    gap: 10px;
}

.product-content .product-payment .product-payment-title{
    font-size: 16px;
    font-weight: 600;
    color: var(--normalTextColor);
}

.product-content .product-payment .product-payment-images{
    display: flex;
    align-items: center;
    gap: 10px;
}

.product-content .product-payment .product-payment-images img{
    width: 50px;
}


/* product description */
.product-description{
    padding: 40px 0px;
}
.product-description ul.nav{
    padding: 40px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  
  .product-description ul li a{
    text-decoration: none;
    color: #181818;
    font-size: 20px;
    font-weight: 600;
  }
  .product-description ul li a:hover{
    border-bottom: 3px solid var(--normalTextColor);
    text-decoration: none;
    color: black;
  }
  .product-description-inner p.description-title{
    font-size: 14px;
    text-transform: uppercase;

  }
  .product-description-inner p.description-text{
    font-size: 16px;
    line-height: 1.8;
    color: #656565;
  }
  .product-description .description-list ul{
    list-style-type: disc;
  }


  /* recent product */
  .recent-product ul.nav{
    padding: 40px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  
  .recent-product ul li a{
    text-decoration: none;
    color: #181818;
    font-size: 20px;
    font-weight: 600;
  }
  .recent-product ul li a:hover{
    border-bottom: 3px solid var(--normalTextColor);
    text-decoration: none;
    color: black;
  }
