*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}


:root{
  --titleColor:#181818;
  --buttonBgColor: #181818;
  --bg-color: #1f242d;
  --textHoverColor:#E54B44;
  --universalBgColor:#181818;
  --normalTextColor:#353535;
  --listLinkColor:var(--bg-color);

  --sliderTitleFontSize: 80px;
  --sliderDescFontSize: 18px;

  --mainTitleSize:40px;
  --normalTextSize:16px;
  --productTitleSize: 16px;
  --productTitleFontWeight: 500;
  --productPriceSize: 16px;
  --productPriceFontWeight: 600;

}

.section-title{
  padding: 20px 0px;
  text-align: center;
}
.section-title h2{
  font-size: 40px;
  color: var(--normalTextColor);
  font-weight: 600;
}
.section-title p{
  font-size: 16px;
  color: gray;
}
h1,h2,h3,h4,h5,h6,p{
  padding: 0px !important;
  margin: 0px !important;
}

ul{
  list-style: none;
  padding-left: 0px !important;
}

ul li a{
  text-decoration: none;
  font-size: var(--normalTextSize);
  transition: 0.5s;
}
ul li a:hover{
  color: var(--textHoverColor);
  transition: 0.5s;
}





/* Header */
.topbar{
  border-bottom: 1px solid var(--normalTextColor);
}

.topbar .topbar-left-icon ul li a{
  color: var(--normalTextColor);
  font-size: 25px;
}

.topbar .topbar-middle ul li a{
  color: var(--universalBgColor);
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;

}


.topbar .topbar-right-icon ul li a{
  color: var(--normalTextColor);
  font-size: 18px;
}
.topbar .topbar-right-icon ul li a i{
  color: var(--buttonBgColor);
  font-size: 18px;
}


nav{
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
nav.navbar.navbar-expand-lg.shadow-sm {
  padding: 20px 0px;
}

nav ul li a.nav-link{
  color: var(--listLinkColor);
  font-size: var(--normalTextSize);
  font-weight: 600;
}
  


/* Footer */

.footer-widget .footer-logo{
  width: 100%;
}
.footer-widget .widget-one-desc{
  padding-top: 10px;
}
.footer-widget .widget-one-desc p{
  margin: 5px 0px;
  font-size: 14px;
}
.footer-widget .widget-one-desc a{
  text-transform: uppercase;
  color: black;
  font-size: 14px;
  text-decoration: underline;
  display: inline-block;
  padding-top: 10px;
}

.footer-widget .widget-one-desc .mail,.phone{
  display: flex;
  align-items: center;
  font-size: 14px;
}
.footer-widget .widget-one-desc .contact-icon{
  padding: 10px 0px;
}
.footer-widget .widget-one-desc .mail i,.phone i{
  margin-right: 10px;
  font-size: 20px;
}

.footer-widget .footer-icon .f-icon-list{
  display: flex;
  gap:20px;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 0;
  margin-top: 10px;
}

.footer-widget .footer-icon .f-icon-list i{
  border: 1px solid gray;
  padding: 10px;
  font-size: 16px;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}


.footer-widget .widget-title{
  font-size: 16px;
  font-weight: 600;
  color: var(--normalTextColor);
}
.footer-widget .widget-title p{
  font-size: 14px;
  line-height: 1.8;
  color: rgb(151, 151, 151);
  font-weight: 300;
}

.footer-widget .widget-nav{
  padding-top: 5px;
}


.footer-widget .widget-nav ul li a{
  font-size: 14px;
  line-height: 1.8;
  color: rgb(151, 151, 151);
  font-weight: 300;
}

.footer-widget .newsletter-input .mail-input{
  margin-bottom: 15px;
  position: relative;
}
.footer-widget .newsletter-input .mail-input input{
  width: 100%;
  padding: 15px 15px 15px 15px;
  border: 1px solid var(--normalTextColor);
  border-radius: 50px;
  outline: none;

}
.footer-widget .newsletter-input .mail-input button{
  position: absolute;
  top: 0;
  right: 0;
  height: 55px;
  width: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 20px;
  border-radius: 50px;
  border: none;
  background-color: black;
  color: white;
}
.footer-widget .newsletter-input .checkbox{
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  
}

.footer-widget .newsletter-input .checkbox span{
  font-size: 14px;
  color: var(--normalTextColor);
}
.footer-widget .newsletter-input .checkbox a{
  text-decoration: underline;
  font-weight: 600;
  font-size: 14px;
  color: var(--normalTextColor);
}
/* footer bottom */
.footer-bottom{
  padding: 20px 0px;
}
.copyright p{
  margin: 0px;
  font-size: 14px;
  color: var(--normalTextColor);
  
}

.footer-bottom-icon{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}
.footer-bottom-icon img{
  width: 50px;
}




/* Media Query */
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
  /* CSS */
  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
  /* CSS */
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  /* CSS */
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  /* CSS */
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  /* CSS */
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
 /* Header */
.topbar .topbar-left-icon {
  display: none;
}
.topbar .topbar-right-icon{
  display: none;
}
.topbar .row .col-4{
  width: 100%;
}

.topbar .topbar-middle ul li a{
  font-size: 14px;
  font-weight: 300;
}

nav.navbar.navbar-expand-lg.shadow-sm{
  padding: 10px 0px;
}

/* hero */

.hero .slider-inner-two .col-6{
  width: 60%;
}
.hero .slider-inner-three .col-6{
  width: 60%;
}

.hero .slider-inner-one {
  padding: 20px 0px;
}
.hero .slider-inner-two {
  padding: 20px 0px;
}
.hero .slider-inner-three {
  padding: 20px 0px;
}

.hero .slider-content {
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
}

.hero .slider-content h1.slider-title {
  font-size: 18px;
  color: var(--titleColor);
}
.hero .slider-content .slider-desc {
  font-size: 14px;
  padding: 5px;
}

.hero .slider-content .slider-button {
  font-size: 14px;
  padding: 5px 15px;
  margin-top: 5px;
}


/* Category Shop */

.category-shop {
  padding: 0px 0px;
}

.category-shop h2 {
  font-size: 25px;
}

.category-shop .cat-grid-one {
  padding: 0px 0px 0px 0px;
}

.category-shop .top-grid-one a{
  top: 75%;
}
.category-shop .top-grid-two a {
  top: 75%;
}
.category-shop .cat-grid-two a {
  top: 85%;
}

/* products */

.products ul {
  padding: 20px 0px;
  gap: 10px;
}
.products ul li a {
  text-decoration: none;
  color: var(--normalTextColor);
  font-size: 18px;
  font-weight: 600;
}

.products .product-details {
  text-align: center;
}

.products .color-selection {
  justify-content: center;
  gap: 10px;
  padding-top: 5px;
}

  
}


